{% extends 'job_seeker_index.html' %}
{% block content %}
{% load static %}
<div class="full_width main_content">



                    <div class="shopping_main">
                        <div class="home-one">

                           <!--  <nav class="navbar navbar-default navbar-mobile light bootsnav">
			<div class="container">


				<div class="collapse navbar-collapse" id="navbar-menu">

					<ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Menu one</a></li>
                        <li><a href="#">Menu Two</a></li>


					</ul>
					<ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Post your resume</a></li>

					</ul>

				</div>
			</div>
		</nav> -->


                            <div class="full_width fotrm_main">
                                <div class="container">
                                    <div class="row">

					<div class="col-md-8 col-sm-8">

						<div class="detail-wrapper">
							<div class="detail-wrapper-body">

								<div class="text-center mrg-bot-30">
									<img src="{% static 'assets/img/client-1.jpg' %}" class="img-circle width-100" alt=""/>
									<h4 class="meg-0">Laxman Lucky</h4>
									<span>Front End Designer</span>
								</div>

								<div class="row">
									<div class="col-sm-4 mrg-bot-10">
										<i class="ti-location-pin padd-r-10"></i>Hyderabad, Sr Nagar
									</div>
									<div class="col-sm-4 mrg-bot-10">
										<i class="ti-email padd-r-10"></i>laxmans.peetha@gmail.com
									</div>
									<div class="col-sm-4 mrg-bot-10">
										<i class="ti-mobile padd-r-10"></i>91 234 567 8765
									</div>
									<div class="col-sm-4 mrg-bot-10">
										<i class="ti-credit-card padd-r-10"></i>41,000/Per Month
									</div>
									<div class="col-sm-4 mrg-bot-10">
										<i class="ti-shield padd-r-10"></i>5 Year Exp.
									</div>
									<div class="col-sm-4 mrg-bot-10">
										<span class="skill-tag">css</span>
										<span class="skill-tag">HTML</span>
										<span class="skill-tag">Photoshop</span>
									</div>
								</div>

							</div>
						</div>

						<div class="detail-wrapper">
							<div class="detail-wrapper-header">
								<h4>Career</h4>
							</div>
							<div class="detail-wrapper-body">
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
							</div>
						</div>

						<div class="detail-wrapper">
							<div class="detail-wrapper-header">
								<h4>Education</h4>
							</div>
							<div class="detail-wrapper-body">

								<div class="edu-history info">
									<i></i>
									<div class="detail-info">
										<h3>University</h3>
										<i>2008 - 2012</i>
										<span>Middle East Technical University <i>Computer Science</i></span>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
									</div>
								</div>

								<div class="edu-history danger">
									<i></i>
									<div class="detail-info">
										<h3>Intermediate School</h3>
										<i>2008 - 2012</i>
										<span>Middle East Technical University <i>Computer Science</i></span>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
									</div>
								</div>

								<div class="edu-history success">
									<i></i>
									<div class="detail-info">
										<h3>High School</h3>
										<i>2008 - 2012</i>
										<span>Middle East Technical University <i>Computer Science</i></span>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
									</div>
								</div>

							</div>
						</div>

						<div class="detail-wrapper">
							<div class="detail-wrapper-header">
								<h4>Work & Experience</h4>
							</div>
							<div class="detail-wrapper-body">

								<div class="edu-history info">
									<i></i>
									<div class="detail-info">
										<h3>Php Developer <span>Infox Studio</span></h3>
										<i>2008 - 2012</i>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
									</div>
								</div>

								<div class="edu-history danger">
									<i></i>
									<div class="detail-info">
										<h3>Java Developer <span>Itare Studio</span></h3>
										<i>2012 - 2014</i>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
									</div>
								</div>

								<div class="edu-history success">
									<i></i>
									<div class="detail-info">
										<h3>CMS Developer <span>Dexlo Studio</span></h3>
										<i>2014 - 2018</i>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
									</div>
								</div>
							</div>
						</div>

					</div>

					<!-- Sidebar -->
					<div class="col-md-4 col-sm-4">
						<div class="sidebar">

							<!-- Start: Opening hour -->
							<div class="widget-boxed">
								<div class="widget-boxed-body">
									<a href="#" class="btn btn-m theme-btn full-width mrg-bot-10"><i class="ti-heart"></i>Bookmark This</a>
									<a href="#" class="btn btn-m light-gray-btn full-width"><i class="ti-check"></i>Shortlist Resume</a>
								</div>
							</div>
							<!-- End: Opening hour -->

							<!-- Start: Job Overview -->
							<div class="widget-boxed">
								<div class="widget-boxed-header">
									<h4><i class="ti-location-pin padd-r-10"></i>Location</h4>
								</div>
								<div class="widget-boxed-body">
									<div class="side-list no-border">
										<ul>
											<li><i class="ti-credit-card padd-r-10"></i>Package: 20K To 50K/Month</li>
											<li><i class="ti-world padd-r-10"></i>https://www.jobhill.com</li>
											<li><i class="ti-mobile padd-r-10"></i>91 234 567 8765</li>
											<li><i class="ti-email padd-r-10"></i>suppoer@listinghub.com</li>
											<li><i class="ti-pencil-alt padd-r-10"></i>Bachelor Degree</li>
											<li><i class="ti-shield padd-r-10"></i>3 Year Exp.</li>
										</ul>
										<h5>Share Job</h5>
										<ul class="side-list-inline no-border social-side">
											<li><a href="#"><i class="fa fa-facebook theme-cl"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus theme-cl"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter theme-cl"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin theme-cl"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest theme-cl"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- End: Job Overview -->

							<!-- Start: Opening hour -->
							<div class="widget-boxed">
								<div class="widget-boxed-header">
									<h4><i class="ti-headphone padd-r-10"></i>Contact Now</h4>
								</div>
								<div class="widget-boxed-body">
									<form>
										<input type="text" class="form-control" placeholder="Enter your Name *">
										<input type="text" class="form-control" placeholder="Email Address*">
										<input type="text" class="form-control" placeholder="Phone Number">
										<textarea class="form-control height-140" placeholder="Message should have more than 50 characters"></textarea>
										<button class="btn theme-btn full-width">Send Email</button>
										<span>You accepts our <a href="#" title="">Terms and Conditions</a></span>
									</form>
								</div>
							</div>

						</div>

					</div>

				</div>
                                </div>

                            </div>

		{% endblock %}