{% extends 'job_seeker_index.html' %}
{% block content %}
{% load static %}
<div class="full_width main_content">
                
               
                    <div class="shopping_main">
                        <div class="home-one"> <br/>
                          <!--   
                            <nav class="navbar navbar-default navbar-mobile light bootsnav">
			<div class="container">
			
			
				<div class="collapse navbar-collapse" id="navbar-menu">
				
					<ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="active"><a href="index.html">Home</a></li>         
                <li><a href="browse_jobseeker.html"> Post your resume</a></li>
                <li><a href="browse_jobseeker.html">Applied Jobs</a></li>
                <li><a href="browse_jobseeker.html">Interested</a></li>
                <li><a href="browse_jobseeker.html">Not Interested</a></li>
					
					</ul>
					<ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Post your resume</a></li>
					
					</ul>
						
				</div>
			</div>   
		</nav> -->
                
                            <section class="list_jobs">
			
					
					<!-- Start Job List -->
					
					
				
                    
                    
				
						
						<div class="job-verticle-list">
							<div class="vertical-job-card">
								<div class="vertical-job-header">
									
									<h5>Frond End Designer</h5>
									
								</div>
								<div class="vertical-job-body">
									<div class="row">
										<div class="col-md-9 col-sm-8">
                                            <div class="vrt-job-cmp-logo">
                                             <a href="{% url 'job_details' %}"><img src="{% static 'assets/img/c-4.png' %}" class="img-responsive" alt=""></a>
                                            </div>
											<ul class="can-skils">
                                                <li><h5><a href="#">Laxol LTD</a></h5> 
												<span style="margin-bottom: 6px;display: block;"> Frond End Designer</span></li>
												
												<li><strong>Job Type: </strong>Full Time</li>
												<li><strong>KeySkills: </strong>
													<span class="skill-tag">Photoshop</span>
													<span class="skill-tag">HTML</span>
													<span class="skill-tag">css</span>
													<span class="skill-tag">java</span>
													<span class="skill-tag">php</span>
													<span class="skill-tag">bootstrap</span>
												</li>
												<li><strong>Experience: </strong>3.5 Year</li>
												<li><strong>Job Description: </strong> <span class="desc">Should be comfortable with individual contributor role;Good proficient in all design aspects;Graduate ...</span></li>
												<li><strong>Location: </strong><span></span>Hyderabad - Ameerpet, A S Rao Nagar, Dilsukh Nagar, Madhapur</li>
											</ul>
										</div>
										<div class="col-md-3 col-sm-4">
											<div class="vrt-job-act">
												<a href="#" class="btn btn-sm theme-btn">Apply Now</a>
											</div>
											<div class="vrt-job-act">
												<a href="{% url 'job_details' %}" title="" class="btn btn-sm view_jop">View Job</a>
											</div>
										</div>
									</div>
								</div>
								<div class="vertical-job-footer">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-rating">
												<ul>
                                                    <li><span class="fa fa-star-o" aria-hidden="true"></span></li>
													<li><span class="fa fa-inr" aria-hidden="true"></span> 1,00,000 - 6,00,000 P.A.</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-review">
												<ul>
													
													<li>Posted by <span>Kadambnee Chauhan</span>, <span>Today</span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                        
                        
                        <div class="job-verticle-list">
							<div class="vertical-job-card">
								<div class="vertical-job-header">
									
									<h5>Placement cum traning for advanced JAVA, DOT NET, ANDROID, AWS..</h5>
									
								</div>
								<div class="vertical-job-body">
									<div class="row">
										<div class="col-md-9 col-sm-8">
                                            <div class="vrt-job-cmp-logo">
                                             <a href="{% url 'job_details' %}"><img src="{% static 'assets/img/c-4.png' %}" class="img-responsive" alt=""></a>
                                            </div>
											<ul class="can-skils">
												<li><h5><a href="#">Microsoft</a></h5> 
												<span style="margin-bottom: 6px;display: block;">Frond End Designer </span></li>
												
												<li><strong>Job Type: </strong>Full Time</li>
												<li><strong>KeySkills: </strong>
													<span class="skill-tag">Photoshop</span>
													<span class="skill-tag">HTML</span>
													<span class="skill-tag">css</span>
													<span class="skill-tag">java</span>
													<span class="skill-tag">php</span>
													<span class="skill-tag">bootstrap</span>
												</li>
												<li><strong>Experience: </strong>3.5 Year</li>
												<li><strong>Job Description: </strong> <span class="desc">Should be comfortable with individual contributor role;Good proficient in all design aspects;Graduate ...</span></li>
												<li><strong>Location: </strong><span></span>Hyderabad - Ameerpet, A S Rao Nagar, Dilsukh Nagar, Madhapur</li>
											</ul>
										</div>
										<div class="col-md-3 col-sm-4">
											<div class="vrt-job-act">
												<a href="#" data-toggle="modal" data-target="#apply-job" class="btn btn-sm theme-btn">Apply Now</a>
											</div>
											<div class="vrt-job-act">
												<a href="{% url 'job_details' %}" title="" class="btn btn-sm view_jop">View Job</a>
											</div>
										</div>
									</div>
								</div>
								
								<div class="vertical-job-footer">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-rating">
												<ul>
                                                    <li><span class="fa fa-star-o" aria-hidden="true"></span></li>
													<li><span class="fa fa-inr" aria-hidden="true"></span> 1,00,000 - 6,00,000 P.A.</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-review">
												<ul>
													
													<li>Posted by <span>Kadambnee Chauhan</span>, <span>Today</span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                        
                        <div class="job-verticle-list">
							<div class="vertical-job-card">
								<div class="vertical-job-header">
									
									<h5>Frond End Designer</h5>
									
								</div>
								<div class="vertical-job-body">
									<div class="row">
										<div class="col-md-9 col-sm-8">
                                            <div class="vrt-job-cmp-logo">
                                             <a href="job-detail.html"><img src="{% static 'assets/img/c-4.png' %}" class="img-responsive" alt=""></a>
                                            </div>
											<ul class="can-skils">
                                                <li><h5><a href="#">Laxol LTD</a></h5> 
												<span style="margin-bottom: 6px;display: block;"> Frond End Designer</span></li>
												
												<li><strong>Job Type: </strong>Full Time</li>
												<li><strong>KeySkills: </strong>
													<span class="skill-tag">Photoshop</span>
													<span class="skill-tag">HTML</span>
													<span class="skill-tag">css</span>
													<span class="skill-tag">java</span>
													<span class="skill-tag">php</span>
													<span class="skill-tag">bootstrap</span>
												</li>
												<li><strong>Experience: </strong>3.5 Year</li>
												<li><strong>Job Description: </strong> <span class="desc">Should be comfortable with individual contributor role;Good proficient in all design aspects;Graduate ...</span></li>
												<li><strong>Location: </strong><span></span>Hyderabad - Ameerpet, A S Rao Nagar, Dilsukh Nagar, Madhapur</li>
											</ul>
										</div>
										<div class="col-md-3 col-sm-4">
											<div class="vrt-job-act">
												<a href="#" class="btn btn-sm theme-btn">Apply Now</a>
											</div>
											<div class="vrt-job-act">
												<a href="{% url 'job_details' %}" title="" class="btn btn-sm view_jop">View Job</a>
											</div>
										</div>
									</div>
								</div>
								<div class="vertical-job-footer">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-rating">
												<ul>
                                                    <li><span class="fa fa-star-o" aria-hidden="true"></span></li>
													<li><span class="fa fa-inr" aria-hidden="true"></span> 1,00,000 - 6,00,000 P.A.</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-review">
												<ul>
													
													<li>Posted by <span>Kadambnee Chauhan</span>, <span>Today</span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                        
                        <div class="job-verticle-list">
							<div class="vertical-job-card">
								<div class="vertical-job-header">
									
									<h5>Frond End Designer </h5>
									
								</div>
								<div class="vertical-job-body">
									<div class="row">
										<div class="col-md-9 col-sm-8">
                                            <div class="vrt-job-cmp-logo">
                                             <a href="job-detail.html"><img src="{% static 'assets/img/c-5.png' %}" class="img-responsive" alt=""></a>
                                            </div>
											<ul class="can-skils">
												<li><h5><a href="#">Indico LTD</a></h5> <span style="margin-bottom: 6px;display: block;">
												Frond End Designer </span></li>
												
												<li><strong>Job Type: </strong>Full Time</li>
												<li><strong>KeySkills: </strong>
													<span class="skill-tag">Photoshop</span>
													<span class="skill-tag">HTML</span>
													<span class="skill-tag">css</span>
													<span class="skill-tag">java</span>
													<span class="skill-tag">php</span>
													<span class="skill-tag">bootstrap</span>
												</li>
												<li><strong>Experience: </strong>3.5 Year</li>
												<li><strong>Job Description: </strong> <span class="desc">Should be comfortable with individual contributor role;Good proficient in all design aspects;Graduate ...</span></li>
												<li><strong>Location: </strong><span></span>Hyderabad - Ameerpet, A S Rao Nagar, Dilsukh Nagar, Madhapur</li>
											</ul>
										</div>
										<div class="col-md-3 col-sm-4">
											<div class="vrt-job-act">
												<a href="#" class="btn btn-sm theme-btn">Apply Now</a>
											</div>
											<div class="vrt-job-act">
												<a href="{% url 'job_details' %}" title="" class="btn btn-sm view_jop">View Job</a>
											</div>
										</div>
									</div>
								</div>
								<div class="vertical-job-footer">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-rating">
												<ul>
                                                    <li><span class="fa fa-star-o" aria-hidden="true"></span></li>
													<li><span class="fa fa-inr" aria-hidden="true"></span> 1,00,000 - 6,00,000 P.A.</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-review">
												<ul>
													
													<li>Posted by <span>Kadambnee Chauhan</span>, <span>Today</span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                        
                        <div class="job-verticle-list">
							<div class="vertical-job-card">
								<div class="vertical-job-header">
									
									<h5>Frond End Designer</h5>
									
								</div>
								<div class="vertical-job-body">
									<div class="row">
										<div class="col-md-9 col-sm-8">
                                            <div class="vrt-job-cmp-logo">
                                             <a href="{% url 'job_details' %}"><img src="{% static 'assets/img/c-7.png' %}" class="img-responsive" alt=""></a>
                                            </div>
											<ul class="can-skils">
												<li><h5><a href="#">Indico LTD</a></h5> <span style="margin-bottom: 6px;display: block;">
												Frond End Designer </span></li>
												
												<li><strong>Job Type: </strong>Full Time</li>
												<li><strong>KeySkills: </strong>
													<span class="skill-tag">Photoshop</span>
													<span class="skill-tag">HTML</span>
													<span class="skill-tag">css</span>
													<span class="skill-tag">java</span>
													<span class="skill-tag">php</span>
													<span class="skill-tag">bootstrap</span>
												</li>
												<li><strong>Experience: </strong>3.5 Year</li>
												<li><strong>Job Description: </strong> <span class="desc">Should be comfortable with individual contributor role;Good proficient in all design aspects;Graduate ...</span></li>
												<li><strong>Location: </strong><span></span>Hyderabad - Ameerpet, A S Rao Nagar, Dilsukh Nagar, Madhapur</li>
											</ul>
										</div>
										<div class="col-md-3 col-sm-4">
											<div class="vrt-job-act">
												<a href="#" class="btn btn-sm theme-btn">Apply Now</a>
											</div>
											<div class="vrt-job-act">
												<a href="{% url 'job_details' %}" title="" class="btn btn-sm view_jop">View Job</a>
											</div>
										</div>
									</div>
								</div>
								<div class="vertical-job-footer">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-rating">
												<ul>
                                                    <li><span class="fa fa-star-o" aria-hidden="true"></span></li>
													<li><span class="fa fa-inr" aria-hidden="true"></span> 1,00,000 - 6,00,000 P.A.</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-review">
												<ul>
													
													<li>Posted by <span>Kadambnee Chauhan</span>, <span>Today</span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                        
                        <div class="job-verticle-list">
							<div class="vertical-job-card">
								<div class="vertical-job-header">
									
									<h5>CYFUTURE INDIA PRIVATE LIMITED </h5>
									
									
								</div>
								<div class="vertical-job-body">
									<div class="row">
										<div class="col-md-9 col-sm-8">
                                            <div class="vrt-job-cmp-logo">
                                             <a href="job-detail.html"><img src="{% static 'assets/img/c-8.png' %}" class="img-responsive" alt=""></a>
                                            </div>
											<ul class="can-skils">
												<li><h5><a href="#">CYFUTURE INDIA PRIVATE LIMITED </a></h5> 
												<span style="margin-bottom: 6px;display: block;">Sr. Web Designer</span></li>
												
												<li><strong>Job Type: </strong>Full Time</li>
												<li><strong>KeySkills: </strong>
													<span class="skill-tag">Photoshop</span>
													<span class="skill-tag">HTML</span>
													<span class="skill-tag">css</span>
													<span class="skill-tag">java</span>
													<span class="skill-tag">php</span>
													<span class="skill-tag">bootstrap</span>
												</li>
												<li><strong>Experience: </strong>3.5 Year</li>
												<li><strong>Job Description: </strong> <span class="desc">Should be comfortable with individual contributor role;Good proficient in all design aspects;Graduate ...</span></li>
												<li><strong>Location: </strong><span></span>Hyderabad - Ameerpet, A S Rao Nagar, Dilsukh Nagar, Madhapur</li>
											</ul>
										</div>
										<div class="col-md-3 col-sm-4">
											<div class="vrt-job-act">
												<a href="#" class="btn btn-sm theme-btn">Apply Now</a>
											</div>
											<div class="vrt-job-act">
												<a href="job_detail.html" title="" class="btn btn-sm view_jop">View Job</a>
											</div>
										</div>
									</div>
								</div>
								<div class="vertical-job-footer">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-rating">
												<ul>
                                                    <li><span class="fa fa-star-o" aria-hidden="true"></span></li>
													<li><span class="fa fa-inr" aria-hidden="true"></span> 1,00,000 - 6,00,000 P.A.</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-review">
												<ul>
													
													<li>Posted by <span>Kadambnee Chauhan</span>, <span>Today</span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					   <ul class="pagination">
  <li class="disabled"><a href="#">&laquo;</a></li>
  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
						
					</div>
                    </div>
				<!-- End Row -->
				
			</div>
		</section>
                            
		{% endblock %}