{% extends 'job_seeker_index.html' %}
{% block content %}
{% load static %}
<div class="full_width main_content">
                    <div class="shopping_main">
                        <div class="home-one"> <br/>
						<section class="detail-section" style="background:url({% static 'assets/img/slider-2.jpg' %});">
                                <div class="overlay"></div>
                                <div class="profile-cover-content">
                                    <div class="">

                                        <div class="job-owner hidden-xs hidden-sm">
                                            <div class="job-owner-avater">
                                                <img src="{% static 'assets/img/c-2.png' %}" class="img-responsive img-circle" alt="" />
                                            </div>
                                            <div class="job-owner-detail">
                                                <h4>Google </h4>
                                                <span class="theme-cl">Software Developer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section>
			<div class="container">
				
				<div class="row">
					
					<div class="col-md-9 col-sm-9">
                        
                        <div class="widget-boxed">
						
						<div class="detail-wrapper">
							<div class="detail-wrapper-body">
								<div class="job-title-bar">
									<h4><strong>Web Designer</strong> walk In Interview </h4>
									<div>
										<p class="mrg-bot-0">
                                            
                                            <span><i class="ti-location-pin mrg-r-5"></i>Greenland Automation</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span><i class="fa fa-briefcase"></i>&nbsp;&nbsp;0 - 5 yrs</span>
											
										</p>
                                        
										<p><strong>Roles</strong> : UX/UI Designer, Web Designer, Graphic Designer</p>
									</div>
                                    
                                    <div class="widget-boxed-body apply_interst">
                                        <a href="#" class="btn btn-m theme-btn full-width mrg-bot-10">I am Interested</a>
                                        <a href="#" class="btn btn-m light-gray-btn full-width">I am not Interested </a>
                                    </div>
								</div>
							</div>
						</div>
						
						<div class="detail-wrapper">
							<div class="detail-wrapper-header">
								<h4>Job Description</h4>
							</div>
							<div class="detail-wrapper-body">
                                <h5>Sr. Web Designer</h5>
								<p>Provide expertise with WordPress, HTML, CSS, MySQL, JavaScript, JQuery, PHP, WooCommerce.
Develop, deploy, and maintain our main WordPress websites.
Constantly improve and build new add-ons to attract readers</p>
                                
                                <div class="job-verticle-list job-verticle-list2">
							<div class="vertical-job-card">
							
								<div class="vertical-job-body">
									<div class="row">
										<div class="">
                                            
											<ul class="can-skils">												
												<li><strong>Salery: </strong>INR 1,75,000 - 3,75,000 P.A.</li>
												<li><strong>Industry: </strong>IT-Software / Software Services</li>
												<li><strong>Functional Area: </strong> <span class="desc">IT Software - Application Programming , Maintenance</span></li>
												<li><strong>Role Category: </strong>Programming & Design</li>
												<li><strong>Role: </strong>Software Developer</li>
												<li><strong>Employment Type: </strong>Permanent Job, Full Time</li>                                       
                                            </ul>
                                            
                                            
										</div>
									
									</div>
								</div>
								
							</div>
						</div>
							</div>
						</div>
                            
                            <div class="detail-wrapper">
                               
						<div class="detail-wrapper">
							<div class="detail-wrapper-header">
								<h4>KeySkills</h4>
							</div>
							<div class="detail-wrapper-body">
								<div class="key_skills">
                                    <span class="skill-tag">Photoshop</span>
                                    <span class="skill-tag">HTML</span>
                                    <span class="skill-tag">css</span>
                                    <span class="skill-tag">Wordpress</span>
                                    <span class="skill-tag">php</span>
                                    <span class="skill-tag">JQuery</span>
                                    <span class="skill-tag">bootstrap</span>
                                    <span class="skill-tag">Web Designing</span>
                                    <span class="skill-tag">Web Technologies</span>
                                </div>
							</div>
						</div>
						
						<div class="detail-wrapper">
							<div class="detail-wrapper-header">
                                <br>
								<h4>Desired Candidate Profile</h4>
							</div>
							<div class="detail-wrapper-body">
                                <p>Please refer to the Job description above</p>
								<div class="vertical-job-card">
							
								<div class="vertical-job-body vertical-job-card2">
									<div class="row">
										<div class="">
                                            <h6>Education</h6>
											<ul class="can-skils">
												
												<li><strong>UG: </strong><span class="desc">B.Tech/B.E. - Any Specialization, Diploma - Any Specialization, B.Sc - Any Specialization, B.Com - Commerce</span></li>
												
												<li><strong>PG: </strong><span class="desc">MS/M.Sc(Science) - Any Specialization, MCA - Computers, M.Tech - Any Specialization, MBA/PGDM - Any Specialization</span></li>
												
                                                <li><strong>Doctorate: </strong><span class="desc">Other Doctorate, M.Phil. - Advertising/Mass Communication, Ph.D - Advertising/Mass Communication</span></li>
                                                
											</ul>
                                            
                                            
										</div>
									
									</div>
								</div>
								
							</div>
							</div>
						</div>
						
					</div>
                            
                            <div class="detail-wrapper">
                               
						<div class="detail-wrapper">
							<div class="detail-wrapper-header">
                                 <br>
								<h4>Company Profile:</h4>
							</div>
							<div class="detail-wrapper-body">
								<h6>Greenland Automation</h6>
                                <p>An ISO 9001:2008 Certified Company </p>
                                <div class="content_desc">
                                <p>Company Name -Greenland Automation </p>
                                <p>India</p>
                                <p>HR</p>
                                <p>snehal</p>
                                <p>Phone:</p>
                                <p>7249866047</p>
                                <p>7249866387</p>
                                </div>
                                <h6>www.greenlandautomation.com</h6>
							</div>
						</div>
						
						
					</div>
					
					
                        
					</div>
                    
                    
                    
				</div>
                    <div style="padding-left: 0;" class="col-md-3 col-sm-3">
						<div class="sidebar">
						
							
							<div class="full_width">
                                <a href="#"><img src="{% static 'img/ad1.png' %}"></a>
                            </div>
							<div class="full_width">
                                <a href="#"><img src="{% static 'img/ad.jpg' %}"></a>
                            </div>
							</div>
                            
							 
						</div>
				
				
			
			</div>
                                </div>
		</section>
                        
		{% endblock %}