{% extends 'job_seeker_index.html' %}
{% block content %}
{% load static %}
<div class="full_width propery_listing">
                                <div class="container">
                                    <div class="row">
					<div class="col-md-3 col-sm-3">
					<div class="filter_sidebar filtersidebar_menu for_mob_filter">
					
<div class="profileimg1 img-thumbnail">
<br/>
<img src="{% static 'img/noimg.jpg' %}" class="img-thumbnail img-circle img-responsive">

</div>
    <div class="div_welcome">
<h3>Welcome saipoojitha !!</h3>
</div>
<ul>
   <li class="active"><a href="myprofile.html">My Profile</a></li>
    <li class=""><a href="shortlisted_profiles.html">Shortlisted Profiles</a></li>
    <li class=""><a href="sent_jobs.html">Sent Jobs</a></li>
    <li class=""><a href="posted_jobs.html">Posted Jobs</a></li>
    <li class=""><a href="applied_jobs.html">Apply Jobs (110)</a></li>
    <li class=""><a href="shortlisted_jobs.html">Shortlisted Jobs</a></li>
    <li class=""><a href="changepassword.html">Change Password</a></li>
    <li class=""><a href="#">Logout</a></li>
</ul>
</div>
						
					</div>
					<div class="col-md-9 liting_grid padding_10_right">
<div class="prop_prop" data-aos="fade-up" data-aos-duration="500">
 <div class="panel panel-default">
    <div class="panel-heading">
    <div class="row">
	
	<div class="col-md-6">
	<h4 class=" personal_details">Personal Details</h4>
	</div>
	<div class="col-md-6">
	<div class="edit">
	</div>
	</div>
	</div>
	</div>
    <div class="panel-body text-center pan_form_con">	
    <div class="row">	
	 <div class="col-md-3">
	 Name 
	</div>
	 <div class="col-md-6">
	 <input type="text" class="form-control" placeholder="...Vuppu Ravali" />
	</div>
	</div>	
    <div class="row">	
	 <div class="col-md-3">
	 Email 
	</div>
	 <div class="col-md-6">
	 <input type="email" class="form-control" placeholder="...ravali@mhninformatics.com" />
	 
	</div>
	</div>	
    <div class="row">	
	 <div class="col-md-3">
	 Contact No 
	</div>
	 <div class="col-md-6">
	 <input type="number" class="form-control" placeholder="...9876543210" />
	 
	</div>
	</div>
	<div class="row">	
	 <div class="col-md-3">
	 City 
	</div>
	 <div class="col-md-6">
	 
	 <input type="number" class="form-control" placeholder="...9876543210" />
	</div>
	</div>	
    <div class="row">	
	 <div class="col-md-3">
	 State 
	</div>
	 <div class="col-md-6">
	
	 <input type="number" class="form-control" placeholder="...9876543210" />
	</div>
	</div>	
    <div class="row">	
	 <div class="col-md-3">
	 Country
	</div>
	 <div class="col-md-6">
	 <input type="number" class="form-control" placeholder="...9876543210" />
	</div>
	</div>	
    <div class="row">	
	 <div class="col-md-3">
	 Zip code 
	</div>
	 <div class="col-md-6">
	 <input type="number" class="form-control" placeholder="...9876543210" />
	</div>
	</div>
	</div>
  </div>
  
  <div class="panel panel-default pan_form_con">
    <div class="panel-heading">
    <div class="row">
	
	<div class="col-md-12">
	<h4 class=" personal_details">  Social Accounts</h4>
	</div>
	</div>
	</div>
    <div class="panel-body">	
    <div class="row">	
	 <div class="col-md-4">
	
	 <label>
	 <i class="fa fa-facebook"></i>   Facebook :
	 </label>
	 <input type="text" class="form-control" />
	</div>
	 <div class="col-md-4">
	 
	 <label>
	 <i class="fa fa-google"></i>   Google :
	 </label>
	 <input type="text" class="form-control" />
	</div>
	 <div class="col-md-4">	  
	 <label>
	 <i class="fa fa-twitter"></i>  Twitter :
	 </label>
	 <input type="text" class="form-control" />
	</div>
	</div>	
    <div class="row">	
	  <div class="col-md-4">
	   
	  <label>
	 
<i class="fa fa-linkedin"></i>  LinkedIn :
	 </label>
	 <input type="text" class="form-control" />
	</div>
	 <div class="col-md-4">  
	  <label>
	 <i class="fa fa-pinterest"></i>  Pinterest :
	 </label>
	 <input type="text" class="form-control" />
	</div>
	 <div class="col-md-4">	  
	  <label>
	 
	 <i class="fa fa-instagram"></i>  Instagram :
	 </label>
	 <input type="text" class="form-control" />
	</div>
	</div>	
	</div>
	</div>
  
</div>

                        
						<div class="margin-bottom text-center">
							<a href="{% url 'jsp' %}"><button type="submit" class="btn theme-btn btn-m">Submit</button></a>
							<br/>
						</div>
						
					
</div>
					
					<!-- Sidebar -->
					
					
				</div>
                                </div>
                                
                            </div>
                            
		{% endblock %}