{% extends 'job_seeker_index.html' %}
{% block content %}
{% load static %}
<div class="full_width propery_listing">
			<div class="container">
				<div class="row">
<div class="col-md-3 col-sm-3">
<div id="sticky-anchor"></div>
<div class="filter_sidebar filtersidebar_menu for_mob_filter sidebar">
					
<div class="text-center">
<span class="photo_edit text-center">	
<img src="{% static 'img/noimg.jpg' %}" class="img-responsive img-circle">
<div class="image-upload">
    <label for="file-input">
        <img src="https://goo.gl/pB9rpQ"/>
    </label>

    <input id="file-input" type="file"/>
</div>
</span>	
</div>
    <div class="div_welcome">
<h3>Welcome saipoojitha !!</h3>
</div>
<ul>
   	<li class=""><a href="{% url 'jsp' %}" method="post">jobseeker Profile</a></li>
<!--    <li class=""><a href="shortlisted_profiles.html">Shortlisted Profiles</a></li>-->

<!--	<li class=""><a href="Contacted_pro.html">Contacted Profiles</a></li>-->
   	<li class=""><a href="{% url 'applied_jobs' %}">Applied Jobs (110)</a></li>
	<li class="active"><a href="{% url 'interested_jobs' %}">Interested Jobs</a></li>
 	<li class=""><a href="{% url 'shortlisted_com' %}">Shortlisted Companies</a></li>
	<li class=""><a href="{% url 'shortlisted_jobs' %}">Shortlisted Jobs</a></li>
	<li class=""><a href="{% url 'Contacted_com' %}">Contacted Companies</a></li>
    <li class=""><a href="{% url 'changepassword' %}">Change Password</a></li>
    <li class=""><a href="#">Logout</a></li>
</ul>
</div>
						
					</div>
					<div class="col-md-9 liting_grid padding_10_right">
	
	
  <div class="stuff">
							<!-- <div class="fl-right"> -->
									<!-- <div class="search-wide"> -->
										<!-- <button class="button del_icon"><i class="fa fa-trash-o" aria-hidden="true"></i></button> -->
									<!-- </div> -->
									
									<!-- <div class="search-wide full"> -->

									<!-- </div> -->
								
								<!-- </div> -->
  
  

						<button class="button check-all check_uncheck">
						<label><input type="checkbox" id="1" class="checkbox_design">Check all</label></button>
						<button class="button uncheck-all check_uncheck">
						<label><input type="checkbox" id="1" class="checkbox_design">Uncheck all</label></button>
						<button class="button del_icon"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
					<form class="checkboxes">
					<ul>
					   <li>
					<div class="job-verticle-list">
							<div class="vertical-job-card">
								<div class="vertical-job-header">
									<h5>
										<input type="checkbox" id="1" class="checkbox_design">
										<span style="margin-bottom: 6px;display:inline-block;">Sr. Web Designer </span>
									</h5>
								</div>
								<div class="vertical-job-body">
									<div class="row">
										<div class="col-md-9 col-sm-8">
                                            
											<ul class="can-skils">
                                                <div class="vrt-job-cmp-logo">
                                                 <a href="{% url 'job_details' %}"><img src="{% static 'assets/img/c-1.png' %}" class="img-responsive" alt=""></a>
                                                </div>
												<li><h5><a href="#">Apple LTD</a></h5> <span style="margin-bottom: 6px;display: block;">Sr. Web Designer </span></li>
												
												<li><strong>Job Type: </strong>Full Time</li>
												<li><strong>KeySkills: </strong>
													<span class="skill-tag">Photoshop</span>
													<span class="skill-tag">HTML</span>
													<span class="skill-tag">css</span>
													<span class="skill-tag">java</span>
													<span class="skill-tag">php</span>
													<span class="skill-tag">bootstrap</span>
												</li>
												<li><strong>Experience: </strong>3.5 Year</li>
												<li><strong>Job Description: </strong> <span class="desc">Should be comfortable with individual contributor role;Good proficient in all design aspects;Graduate ...</span></li>
												<li><strong>Location: </strong><span></span>Hyderabad - Ameerpet, A S Rao Nagar, Dilsukh Nagar, Madhapur</li>
											</ul>
										</div>
										<div class="col-md-3 col-sm-4">
											<div class="vrt-job-act">
												<a href="#" class="btn btn-sm theme-btn">Apply Now</a>
											</div>
											<div class="vrt-job-act">
												<a href="{% url 'job_details' %}" title="" class="btn btn-sm view_jop">View Job</a>
											</div>
										</div>
									</div>
								</div>
								<div class="vertical-job-footer">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-rating">
												<ul>
                                                    <li><span class="fa fa-star-o" aria-hidden="true"></span></li>
													<li><span class="fa fa-inr" aria-hidden="true"></span> 1,00,000 - 6,00,000 P.A.and Posted by 1month Ago</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-review">
												<ul>
													<li><a href="#" class="apply_job_mem">Applied by 60 members</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						</li>
						 <li>
					<div class="job-verticle-list">
							<div class="vertical-job-card">
								<div class="vertical-job-header">
									<h5>
										<input type="checkbox" id="1" class="checkbox_design">
										<span style="margin-bottom: 6px;display:inline-block;">Sr. Web Designer </span>
									</h5>
								</div>
								<div class="vertical-job-body">
									<div class="row">
										<div class="col-md-9 col-sm-8">
                                            
											<ul class="can-skils">
                                                <div class="vrt-job-cmp-logo">
                                                 <a href="{% url 'job_details' %}"><img src="{% static 'assets/img/c-1.png' %}" class="img-responsive" alt=""></a>
                                                </div>
												<li><h5><a href="#">Apple LTD</a></h5> <span style="margin-bottom: 6px;display: block;">Sr. Web Designer </span></li>
												
												<li><strong>Job Type: </strong>Full Time</li>
												<li><strong>KeySkills: </strong>
													<span class="skill-tag">Photoshop</span>
													<span class="skill-tag">HTML</span>
													<span class="skill-tag">css</span>
													<span class="skill-tag">java</span>
													<span class="skill-tag">php</span>
													<span class="skill-tag">bootstrap</span>
												</li>
												<li><strong>Experience: </strong>3.5 Year</li>
												<li><strong>Job Description: </strong> <span class="desc">Should be comfortable with individual contributor role;Good proficient in all design aspects;Graduate ...</span></li>
												<li><strong>Location: </strong><span></span>Hyderabad - Ameerpet, A S Rao Nagar, Dilsukh Nagar, Madhapur</li>
											</ul>
										</div>
										<div class="col-md-3 col-sm-4">
											<div class="vrt-job-act">
												<a href="#" class="btn btn-sm theme-btn">Apply Now</a>
											</div>
											<div class="vrt-job-act">
												<a href="{% url 'job_details' %}" title="" class="btn btn-sm view_jop">View Job</a>
											</div>
										</div>
									</div>
								</div>
								<div class="vertical-job-footer">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-rating">
												<ul>
                                                    <li><span class="fa fa-star-o" aria-hidden="true"></span></li>
													<li><span class="fa fa-inr" aria-hidden="true"></span> 1,00,000 - 6,00,000 P.A.and Posted by 1month Ago</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-review">
												<ul>
													<li><a href="#" class="apply_job_mem">Applied by 60 members</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						</li>
						</ul>
						</form>
	
  <ul class="pagination">
  <li class="disabled"><a href="#">&laquo;</a></li>
  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
   
	  
  
  <!-- <div class="text-center"> -->
							<!-- <button type="button" class="btn theme-btn btn-m">Load More...</button> -->
							<!-- <br/> -->
						<!-- </div> -->
  </div>
	
						
					
					<!-- Sidebar -->
					
					
				</div>
                                </div>
                                
                            </div>
                            </div>
                            
		{% endblock %}